:root{
    --main-color: rgb( 6, 57, 108);
}
*{
    font-family:'Lato', sans-serif;
}
h1, h2, h3, h4 .h1, .h2, .h3, .h4{
    font-family: 'Electrolize', sans-serif;
}

.text-main{
    color: var(--main-color);
}

.bg-main{
    background-color: var(--main-color);
}

.border-main{
    border: 2px solid var(--main-color);
}

.sfondo{
    background-image: url(./media/header.jpg);
    width: auto;
    height: 70vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.front-color{
    background-color: rgba(6, 57, 108, 0.5);
    width: auto;
    height: 70vh;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
/* inizio media */
@media screen and (max-width: 600px) {         .front-color { 
    background-color: rgba(60, 111, 161, 0.4);        
    width: 100%;        
    height: 250px;         
    display: flex;        
    justify-content: center;        
    align-items: center;        
    background-size: contain;        
    background-repeat: no-repeat;         
    background-position: center;     
} 
.sfondo {         
    display:flex;         
    background-image: url("./media/header.jpg");         
    width: 100%;         
    height: 250px;        
    background-size: cover;        
    background-repeat: no-repeat;         
    background-position: top;    
 }
 /* fine media */

 
 }

 td {
  width: 50%;
  box-sizing: border-box;
}


  td.sinistra-l {
    border-left: 1px solid white;
    padding-left: 10px;
    color: white;
    height: 18px;
}

h2{
    font-size: xx-large;
    margin-top: 50px;
}

.testo{
    
}

.testo{
    color:rgb(6, 57, 108);
    font-weight: bold;
}

.piccolo{
    font-size: x-small;
    
}

.secondo-article{
background-image: url(./media/power-plant-4712830_1280.jpg);
width: auto;
height: 40vh;
background-position: top;
background-size: cover;
background-repeat: no-repeat;
}

.secondo-color{
background-color: rgba(6, 57, 108, 0.5);
width: auto;
height: 40vh;
color: white;

}

.omino{
    display: flex !important ;
    justify-content: center !important ;
    margin-top: -60%;
    color: white;
}

.numero{
    display: flex !important ;
    justify-content: center !important ;
    margin-top: -40%;
    color: white;
    font-size: xx-large;
}

.scritte{
    display: flex !important ;
    justify-content: center !important ;
    margin-top: -25%;
    color: white;
}

.position-custom{
    position: relative;
    top: -30px;
    left: 40px;
    
}

.border-foto{
    border: 4px solid white
}

.titolo-foto{
    color: white;
    
}

.sfoto{
    color: white;
}

.bg-bianco{
    background-color: white;
}

.position-2{
    position: relative;
    top: 40px;
}

.grandezza{
    font-size: xx-large;
}

.d-color{
    color: var(--main-color);
}

.c-but{
    color: white;
    margin-top: 15px;
    font-size: large;
}

@media screen and (min-widht:600px) {
    .position-custom{
        position: static;
    }
}

.ghi{
    background-image: url(http://picsum.photos/300);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 550px;
    height: 200px;
    
}

.ombra{
    background-color: rgb(6, 57, 108, 0.2);
    width: 550px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
    right: 20px;
    color: white;
    
}

.article-4{
    background-color: var(--main-color);
    height: 300px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.pannelli-solari{
    height: -800px;
    width: 350px;
    margin-top: -100px;
    background-image: url(./media/sun.png);
}

.ombra-pannelli{
    background-color: rgba(6, 57, 108, 0.5);
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.articolo-5{
    color: var(--main-color);
    display: flex;
    justify-content: center;
}

.card{
    border: 1px solid black;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    color: var(--main-color);
}

h2{
    color: var(--main-color);
}

.progress-bar{
    background-color: var(--main-color);
}

.progress{
    background-color: transparent;
}

.fine{
    background-color: black;
    height: 400px;
    margin-top: 100px;
}

.fine-ingranaggi{
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}

.titolo-footer{
    color: white;
    margin-left: 100px;
}

.testo-footer{
    color: white;
    margin-left: 100px;
}

.blu{
    background-color: var(--main-color);
    height: 400px;
    margin-top: -100px;
    width: 600px;
   
    
    
}

.titolo-finale{
    color: white;
}

.finito{
    color: white;
    
}

.vediamo{
    display: flex;
    justify-content: center;
    text-align: justify;
    
}